/* scss standard definitions */
$page-min: 960px;
$page-fontsize: 16px;
$page-fonts: arial, verdana;
$page-margin: 0;
$page-bg: #eaeaea;

body {
    min-width: $page-min;
    background-color: $page-bg;
    margin: $page-margin;
    font: {
        family: $page-fonts;
        size: $page-fontsize;
    }
}
