$navbar: darkslategray;
$link: whitesmoke;
$modal:  #dfe9e3;

.navbar {
    background-color: $navbar;
}

.nav-link {
    color: $link !important;
}
ul.dropdown-menu {
    background-color: $link !important;
}

/* small devices */
@media (max-width: 799px) {
    .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
}
/* New: Filtering on Home Page */
#homepgfilt {
    display: none;
}
#misfromh, #misfroml {
    width: 36px;
    padding-left: 4px;
}
.spinicons {
    display: inline-block;
    position: relative;
    top: 9px;
}
.uparw {
    cursor: pointer;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid black;
}
.separator {
    max-height: 4px;
}
.dwnarw {
    cursor: pointer;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid black;
}
/* login elements */
#cookie_state, #admin {
    display: none;
}
/* modals */
.modal-header, .modal-footer {
    background-color: $modal;
    color: black;
}
.modal-body {
    color: black;
    text-align: left;
}
input[id^=q] {
    margin-bottom: 4px;
}
