@import "body";
@import "ktesaNavbar";

#tools {
    margin-left: 24px;
    box-sizing: content-box;
}
button {
    margin-bottom: 4px;
    border-width: 1px;
}
/* Getting fieldset/legend to work in Bootstrap is very tricky! */
fieldset.afs {
    float: none;
    width: auto;
    border: 2px solid darkgreen !important;
    border-radius: 4px !important;
    padding: 0px 6px 6px 8px;
}
legend {
    float: none; 
    width: inherit;
    color: darkgreen;
    font-style: italic;
    font-size: 18px;
    padding: 0 5px;
}
#loading {
    display: none;
    position: absolute;
    top: 276px;
    left: 32%;
}
.cats {
    font-size: 18px;
    color: brown;
}
#testsite {
    margin-left: 24px;
}
.installdat {
    height: 28px;
    font-size: 16px;
    width: 180px;
}
#sites {
    padding-top: 6px;
}
#switchstate, #lst, #swdb {
    margin-bottom: 12px;
}
.adminbuttons {
    color: black;
    background-color: ghostwhite;
}
.adminbuttons:hover {
    color: white;
    background-color:#6D3C17;
}
#sitemode, #currstate, #emode, #cdb {
    font-size: 18px;
}
#currstate {
    color: blue;
    font-weight: bold;
}
#test, #real {
    font-weight: bold;
}
#tools {
    margin-left: 24px;
    font-size: 16px;
}
select {
    height: 24px;
    font-size: 16px;
}
#datepicker, #revlist {
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 4px;
}
#revresult, label  {
    font-size: 18px;
}
input[type=file] {
    font-size: 18px;
}
input[type=file]:hover {
    cursor: pointer;
}
#filebrowse {
    margin-bottom: 6px;
}
