$fieldset: darkgreen;
$darkred: brown;

@use "colors" as *;
@use "body" as *;
@use "ktesaNavbar" as *;

/* Page contents */
#tools {
    margin-left: 24px;
    font-size: 16px;
    box-sizing: content-box;
}
button {
    margin-bottom: 4px;
    border-width: 1px;
}

/* Getting fieldset/legend to work in Bootstrap is very tricky! */
fieldset.afs {
    float: none;
    width: auto;
    border: 2px solid $fieldset !important;
    border-radius: 4px !important;
    padding: 0px 6px 6px 8px;
}
legend {
    float: none; 
    width: inherit;
    color: $fieldset;
    font-style: italic;
    font-size: 18px;
    padding: 0 5px;
}
/* GIF image while waiting */
#loading {
    display: none;
    position: absolute;
    top: 276px;
    left: 32%;
}
/* Categories within the Overall Site Management Fieldset */
.cats {
    font-size: 18px;
    color: $brown;
}

#testsite {
    margin-left: 24px;
}
.installdat {
    height: 28px;
    font-size: 16px;
    width: 180px;
}
#sites {
    padding-top: 6px;
}
#switchstate, #lst, #swdb {
    margin-bottom: 12px;
}

#sitemode, #currstate, #emode, #cdb {
    font-size: 18px;
}
#currstate {
    color: $blue;
    font-weight: bold;
}
#test, #real {
    font-weight: bold;
}
#psel, #dsel {
    font-weight: bold;
}
/* Visitor Data Fieldset */
#vdata {
    display: flex;
    flex-wrap: wrap;
}
.vflex {
    margin-right: 36px;
}
.range, #pic_sel {
    width: 108px;
}
.vdatnote {
    color: $darkred;
}

.datepicker, #revlist {
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 4px;
}
#revresult, label  { /* text note */
    font-size: 18px;
}
input[type=file] {
    font-size: 18px;
}
input[type=file]:hover {
    cursor: pointer;
}
#filebrowse {
    margin-bottom: 6px;
}
/* dialog box */
dialog {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #FFEBCD
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

