/* Note that some of the settings are present explicitly to
   override either the bootstrap CSS or ktesaNavbar.css settings */
@use "body" as *;
@use "ktesaNavbar" as *;

body {
	min-width: 280px;
}
#logo {  /* override ktesaPanel.css */
	margin-bottom: 0;
	margin-right: 0;
}
#content {
	font-size: 18px;
	margin-left: 1.5rem;
}
.title {
	text-decoration: underline;
}
