@use "body" as *;
@use "ktesaNavbar" as *;

#main {
    margin-left: 24px;
    width: 60%;
}
#forceCheck {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}
#extgpx, #mgpx, #megpx, #mgps, #megps, #extjson, #mjson {
    margin-bottom: 1rem;
}