$picType: darkblue;

@import "colors";
@import "body";
@import "ktesaNavbar";

ul {
    list-style: none;
}
#main {
    margin-left: 24px;
}
.head {
    color: $brown;
    font-size: 18px;
}
.types {
    margin-left: 24px;
    color: $picType;
    font-size: 18px;
}
input[type=checkbox] {
  /* Double-sized Checkboxes  - Browser dependent code */
  transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
