$inactiveTabBackground: cornsilk;
$inactiveTabText: darkgray;
$entryInactive: lavenderblush;
$entryFocus: papayawhip;
$photoFileLoad:  #6c757d;
$photoLoadHover: #696969;
$thumbSel: #6c757d;
$thumbSelHover: #696969;
$thumbDiv: blanchedalmond;

@mixin TA_size($width) {
    height: 33px;
    width: $width;
}
@import "colors";
@import "body";
@import "ktesaNavbar";

#main {
    box-sizing: content-box;
}
#atxt {
    font-size: 20px;
    float: right;
    margin-right: 16px;
    color: $black;
}
/* tabbing items */
.tablist {
    float: left;
    width: 180px;
    height: 30px;
    margin-bottom: 0px;
    border-style: inset;
    border-bottom: none;
    border-width: 2px;
    border-radius: 12px 12px 0px 0px;
    font-size: 18px;
    color: $inactiveTabText;
    background-color: $inactiveTabBackground;
}
.tablist.active {
    background-color: $page-bg;
    color: $black;
}
.tablist:hover {
    cursor: pointer;
}
#line {
    float: left;
    width: 60px;
    height: 30px;
    margin-bottom: 0px;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    background-color: $page-bg;
}
.tab-panel {
    clear: left;
    display: none;
    margin-top: 12px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    padding: 16px;
}
.tab-panel.active {
    display: block;
}
.subbtn {
    z-index: 9999;
    width: 100px;
}
/* The next several apply to tab1 plus other tabs as well */
.up {
    position: relative;
    top: -4px;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes  - Browser dependent code */
    transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    position: relative;
    z-index: 1;
}
textarea {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: DarkGray;
    padding: 5px;
    background-color: $entryInactive;
}
textarea:focus {
    background-color: $entryFocus;
}
textarea.ctrshift {
    position: relative;
    top: 10px;
}
.tstyle1 {
    @include TA_size($width: 65px);
}
.tstyle2 {
    @include TA_size($width: 260px);
}
.tstyle3 {
    @include TA_size($width: 200px);
}
.tstyle4 {
    @include TA_size($width: 160px);
}

/*  next are tab1 only */
#hilite {
    padding: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
input[id^=gpxfile] {
    height: 28px;
    font-size: 16px;
    line-height: normal;
}
span.brown {
    color: $brown;
}
#hike {
    height: 36px;
    width: 200px;
}
#newloc {
    display: none;
}
#area {
    height: 34px;
    width: 120px;
}
#locregion {
    height: 34px;
}
#userloc {
    height: 32px;
    font-size: 16px;
    background-color: $entryInactive;
}
#userloc:focus {
    background-color: $entryFocus;
}
#type {
    height: 34px;
    width: 130px;
}
#diff {
    height: 34px;
    width: 160px;
}
#fac {
    height: 36px;
    width: 200px;
}
#wow {
    height: 36px;
    width: 320px;
}
#seas {
    height: 36px;
    width: 100px;
}
#sun {
    height: 34px;
    width: 150px;
}
#gpxcalcs {
    margin-bottom: 6px;
}
#miles, #elev, #lat, #lon {
    display: inline-block;
    font-size: 18px;
}
#miles {
    width: 70px;
}
#elev {
    width: 100px;
}
#lat {
    width: 130px;
}
#lon {
    width: 140px;
}
#dirlbl {
    position: relative;
    top: -24px;
}
#murl {
    height: 76px;
    width: 850px;
}
#clusters {
    height: 32px;
    width: 220px;
}
#cluscoords {
    position: relative;
    top: 6px;
}
#cluslat, #cluslng {
    height: 34px;
}

/* tab2 only items */
#pupld.is-dragover {
    box-sizing: content-box;
    background-color: $gray;
}
#userupld {
    font-weight: bold;
    font-size: 18px;
}
#nophotos {
    font-style: italic;
    color: $brown;
}
.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    margin-left: 16px;
    font-size: 18px;
    border-radius: 6px;
    background-color: $photoFileLoad;
    color: $white;
    display: inline-block;
    cursor: pointer;
    padding: 6px;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: $photoLoadHover;
    color: $white;
}
#ldg {
    color: $brown;
    display: none;
    font-weight: bold;
}
#preload {
    display: none;
    position: relative;
    top: 32px;
    left: 320px;
}
#picchks {
    box-sizing: content-box;
    position: relative;
    top: -14px;
    margin-left: 16px;
}
#picbox {
    box-sizing: content-box;
    margin-left: 16px;
    clear: none;
    overflow: auto;
}
.capts {
    box-sizing: content-box;
}
.popupCap {
    margin: 0px;
    display: none;
    position: absolute;
    width: 300px;
    top: 0px;
    left: 0px;
}
.capLine {
    margin: 0px;
    font-weight: bold;
    background-color: $page-bg;
}
.allPhotos {
    box-sizing: content-box;
}

#ldgif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#npts > textarea, #gpts > textarea, #wypts >  textarea {
    position: relative;
    top: 7px;
    height: 33px;
    font-size: 16px;
    margin-left: 12px;
}
.wpticons {
    height: 32px;
}
.wpticonshift {
    position: relative;
    top: 7px;
}

/* tab2 preview boxes */
ol li:first-child {
    margin-bottom: 12px;
}
ol li::marker {
    font-size: 20px;
}
.file_label {
    font-size: 16px;
    background-color: $thumbSel;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px;
}
.file_label:hover {
    background-color: $thumbSelHover;
    color: $white;
}
.file_input {
    display: none;
}
#thumbpic {
    box-sizing: content-box;
}
#redo_thumb {
    font-size: 16px;
}
#boxes {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-evenly;
    box-sizing: content-box
}
#repl {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 500px;
    height: 500px;
    border-style: dashed;
    border-width: 1px;
    background-color: $thumbDiv;
}
#presize, #sizeblock {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 300px;
    height: 225px;
    border-style: dashed;
    border-width: 1px;
    background-color: $thumbDiv;
}
#repl.entered {
    background-color: darkgray;
}
#presize.entered {
    background-color: darkgray;
}
#cprestart, #bxresbtn {
    box-sizing: content-box;
}
#cprestart {
    position: relative;
    top: 0px;
    height: 100px; 
    text-align: center;
}

/* tab4 only items */
div[id=tab4] {
    box-sizing: content-box;
}
input[name=newgps] , input[name=newmap] {
    height: 30px;
    font-size: 16px;
}
