$btn-background: #e6e6e6;
$lightest-gray: #f2f2f2;
$strike-thru: #808080;
$return-home: blanchedalmond;
@mixin btn-border($style, $color, $width) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: 6px;
}
@import "colors";
@import "body";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $page-bg;
    font-size: 14px;
}
/* NOTE: Different browsers render text, border widths etc differently.
   so extra margin was added to editbar width */
#editbar {
    position: absolute;
    top: 16px;
    left: 160px;
    text-align: center;
    width: 710px;
    height: 40px;
    z-index: 100;
}
#del {
    box-sizing: content-box;
    height: 33px;
    width: 120px;
    font-size: 14px;
    background: $btn-background;
    @include btn-border(solid, $black, 1px);
    cursor: pointer;
    position: relative;
    top: -2px;
}
#note {
    position: relative;
    top: 6px;
    left: -12px;
}
.bgfonts {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.regfonts {
    text-shadow: none;
    color: $black;
}
.link-button {
    display: inline-block;
    width: 115px;
    height: 17px;
    padding: 11px 9px 7px 9px;
    text-align: center;
    line-height: 16px;
    background: $btn-background;
    color: $black;
    text-decoration: none;
    font-weight: normal;
    @include btn-border(solid, $black, 1px);
    box-sizing: content-box;
    position: relative;
    top: -2px;
}
#udel {
    height: 18px;
}
.udel_off {
    color: $gray;
    border-color: $dim-gray;
    background-color: $lightest-gray;
    cursor: default;
}
.udel_on {
    color: $black;
    border-color: $black;
    background-color: $btn-background;
    cursor: pointer;
}
#back {
    position: relative;
    top: -1px;
    margin-left: 20px;
    height: 32px;
    text-align: center;
    background-color: $btn-background;
    cursor: pointer;
    @include btn-border(solid, $black, 1px);
   
    box-sizing: content-box;
}
#map {
    height: 100%;
    width:  860px;
    float: left;
}
#gpxpts {
    box-sizing: border-box;
    width: 260px;
    height: 100%;
    background-color: $lightest-gray;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $black;
    overflow: scroll;
    padding-left: 4px;
}
.gpxitems, .deletes {
    padding-left: 6px;
}
.deletes {
    color: $strike-thru;
    text-decoration: line-through;
    font-style: italic;
}
#ptnos {
    position: fixed;
    top: 40px;
    right: calc(290px);
    z-index: 2;
}
#ptid {
    position: relative;
    top: -1px;
    box-sizing: content-box;
    width: 46px;
    height: 23px;
    padding: 5px;
    font-size: 16px;
    @include btn-border(solid, $black, 1px);
    background: $btn-background;
}
#dproc {
    position: absolute;
    left: 0;
    z-index: 5;
}
#restart {
    padding: 4px;
    border-radius: 6px;
    background-color: $return-home;
    font-size: 1.2rem;
    cursor: pointer;
}
