$hikePageBackground: whitesmoke;
$boxItems: floralwhite;
$hideArrow: darkgray;
$up_dwn: dimgray;
$darkred: darkred;
$captions: #eaeaea;
$alink: #0000b3;
$issueColor: linen;
$issueBorder: #c9d7e8;

@use "colors" as *;
@use "body" as *;
@use "ktesaNavbar" as *;

@mixin panelNote($top) {
    text-align: center;
    margin-top: $top;
}


html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }
body {
    height: 100%;
    padding: 0px; 
    background-color: $hikePageBackground;
    /* THIS KILLS CAPTIONS!!! overflow-x: hidden; */
}
#logo {
    margin-bottom: 0px;
}
a {
    color: $alink;
}
a:hover {
    color: $brown;
}
/* Side Panel styling, including hikeInfo & refs */
#sidePanel {
    float: left;
    padding: 0px;
    top: -2px;
    margin-left: 4px;
    margin-right: 0px;
    width: 23%;
    min-height: 400px;
    border-style: inset;
    border-width: 2px;
    border-color: $brown;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $boxItems;
    overflow:scroll;
}
#enotes {
    padding-left: 6px;
    padding-right: 6px;
}
#hide {
    float: right;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: $hideArrow;
}
#hide:hover {
    cursor: pointer;
}
#unhide {
    margin-top: 6px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: $hideArrow;
    display: none;
    position: absolute;
    top: 104px;
    left: 6px;
    box-sizing: content-box;
}
#unhide:hover {
    cursor: pointer;
}
#stats, #crefs {
    @include panelNote($top: 6px);
	margin-bottom: 0px;
	color: $brown;
	font-size: 20px;
}
#crefs {
    margin-left: auto;
    margin-right: auto;
}
#summary {
	margin-top: -8px;
	margin-bottom: 0px;
	padding: 10px;
}
.sumClr {
    color: $brown;
}
#adnote {
    color: $up_dwn;
    cursor: pointer;
}
#advisory {
    position: absolute;
    background-color: $hikePageBackground;
    color: $alink;
    z-index: 100;
    font-style: italic;
}
#addtl {
	@include panelNote($top: -6px);
	margin-bottom: 0px;
	color: $brown;
	font-size: 20px;
}
#mlnk {
    @include panelNote($top: 4px);
    margin-bottom: 6px;
}
.track {
    @include panelNote($top: 2px);
}
#albums {
	@include panelNote($top: 0px);
}
#alnks, #directions, #dlnk {
    @include panelNote($top: -12px);
}
#scrollmsg {
	padding-left: 10px;
	padding-right: 10px;
}
#cdesc {
    text-align: center;
}
#trknote {
    padding: 0px 8px 0px 8px;
}
#top {
    font-style: italic;
    text-decoration: underline;
}
iframe {
	float: left;
    border: none;
    box-sizing: content-box;
    top: -2px;
	min-height: 200px;
	width:74%;
}
#chartline {
	float: left;
    background-color: $white;
}
#trailTips {
    background-color: $boxItems;
}
#ihd {
    position: relative;
    top: 0px;
    color: $darkred;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
}
#hikeInfo {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 2px;
    border-color: Brown;
    padding: 10px;
    background-color: $boxItems;
}
#hikeInfo p {
    margin-top: 8px;
}
fieldset {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    padding: 16px;
    padding-top: 8px;
    border-style: inset;
    border-width: 2px;
    border-color: $brown;
    background-color: $boxItems;
 }
#fldrefs {
    font-size: 18px;
    color: $darkred;
}
.boptag {
    font-size: 14px;
    font-weight: bold;
}
#refs {
    margin-top: 12px;
    margin-bottom: 0px;
    padding-right: 10px;
}
#related, #gps {
    margin-top: 0px;
    margin-bottom: 8px;
}

/* image alignment and pop-up caption styles */
#bigpic {
    padding-left: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    color: $up_dwn;
    background-color: $hikePageBackground;
}
.ImgRow {
    min-width: 960px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}
img {
    display: inline-block;
    margin-bottom: 0px;
}
#imgArea {
    min-width: 960px;
}
.popupCap {
    margin: 0px;
    display: none;
    position: absolute;
    width: 300px;
    top: 0px;
    left: 0px;
    line-height: 1.15em
}
.capLine {
    margin: 0px;
    font-weight: bold;
    background-color: $captions;
}
/* details about the hike */
#trailTips {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-style: inset;
    border-width: 2px;
    border-color: $brown; }
#tipPic {
	float: left; }
#tipHdr {
    display: inline;
    left: 14px;
    top: -20px;
    color: $brown;
    font-weight: bold;
    font-size: 20px;
    padding-left: 12px; }
#tipNotes {
    position: relative;
    top: -14px;
    left: 12px;
    padding-left: 10px;
    padding-right: 8px;
    margin-bottom: -4px; }
#albumlinks {
    color: $alink;
    margin-bottom: 12px; }
#tips {
    text-align: left; }
#hdesc {
    text-align: left; }
#problems {
	margin-left: 12px;
	margin-right: 12px;
	padding: 10px;
	background-color: $issueColor;
	border-style: outset;
	border-width: 2px;
	border-color: $issueBorder;
}
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200,200,200,0.5);;
    z-index: 10000;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 50px;
    color: $navbar;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
