@use "body" as *;
@use "colors" as *;
@use "mobileNavbar" as *;

#authors {
    text-align: center;
}
#hikes {
    font-weight: bold;
}
img#tompic {
    margin-left: auto;
    margin-right: auto;
    margin-top: -6px;
    width: 96vw;
}
#banner {
    display: inline-block;
    height: 54px;
    width: 96vw;
    margin-left: 0px;
    margin-bottom: 0px;
    border-style: groove;
    border-width: 2px;
    border-color: #d4e8d4;
    font-style: oblique;
    background-color: #dff8e3;
    line-height: 3.0em;
    text-align: center;
}
#banner:first-letter {
    background-color: #dff8e3;
    font-size: 38px;
    font-style: oblique;
    font-weight: bold;
    color: darkslategray
}
#intro {
    margin-left: 8px;
}
#introp {
    margin-bottom: 0px;
}
.blue {
    color: $blue;
}
.red {
    color: $red;
}
.brown {
    color: $brown;
}
#features {
    margin-top: 16px;
}
#expect {
    padding-left: 8px;
    font-weight: bold;
    text-decoration: underline;
    color: DarkBlue;
    font-size: 20px;
}
#expl {
    padding-left: 8px;
}
#mrkrs {
    padding-right: 8px;
}
.maindisp {
    cursor: pointer;
    color: darkblue;
}
#navfeat, #mapfeat, #tblfeat, #hikefeat {
    position: relative;
    top: -4px;
    margin-bottom: 2px;
}
#nul, #mul, #tul, #hul {
    display: none;
    position: relative;
    top: -6px;
    margin-bottom: 2px;
}
.dashed {
    list-style-type: disc;
    list-style-position: inside;
}
#itals {
    color: DarkBlue;
}
#disclaimers {
    margin-top: 12px;
    margin-bottom: 6px;
}
#disasters {
    list-style-type: square;
    width: 960px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#caveat {
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 20px;
    height: 42px;
    line-height: 1.1em;
    padding: 10px;
    background-color: #c9d7e8;
    border-style: outset;
    border-width: 2px;
    border-color: #c9d7e8;
    text-align: center;
}
.twisty-right {
    float: left;
    width: 0; 
    max-height: 6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid darkblue;
}
.twisty-down {
    float: left;
    width: 0; 
    max-height: 6px; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(38, 201, 23);
}
