@use "body" as *;
@use  "colors" as *;
@use "mobileNavbar" as *;

/* Map & Modal buttons */
#map_grp1, #map_grp2, #map_grp3, #map_grp4 {
	display: none;
	width: fit-content;
	height: fit-content;
	position: fixed;
	bottom: 12px;
	left: 12px;
	z-index: 1000;
}
/* Draw Rectangle */
#rect_btns {
	padding: 3px;
}
/* Default save method is import hike [comments in saveOffline.js] */
#imphike {
	margin-left: 1rem;
	margin-bottom: 8px;
	z-index: 1000;
}
#search {
	border-radius: 8px;
	border-width: 1px;
	border-color: $navbar;
	font-size: 16px;
	padding-left: 6px;
	height: 32px;
	width: 216px;
	position: relative;
	top: 4px;
	left: 6px;
}
#clear {
	position: relative;
	font-size: 24px;
	top: 7px;
	left: -26px;
	color: $brown;
	z-index: 220;
	cursor: pointer;
}
/* Import gpx file */
#gpxfile {
	width: 220px;
}
#gpxfile::file-selector-button {
	border: 2px $brown solid;
	border-radius: 3px;
	cursor: pointer;
	background-color: blanchedalmond;
}
form {
	padding: 3px;
}
#impgpx {
	margin-left: 4px;
	width: 300px;
}

#map {
	box-sizing: border-box;
	overflow: hidden;
	min-height: 300px;
    width: 98vw;
	height: 95vh;
    border: 1px solid #AAA;
	margin-left: 0px;

}
/* Intro Modal */
#options {
	margin-bottom: 6px;
}
#saveRect, #saveHike, #saveGpx  {
	cursor: pointer;
	position: relative;
}
/* Save Map Modal */
#map_name {
	width: 160px;
	border-color: $brown;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
}
/* Save Status Modal */
#progress {
	height: 48px;
	width: 280px;
	background-color: gainsboro;
}
#bar {
	height: 48px;
	width: 2px;
	background-color: SeaGreen;
}
/* Recenter map modal */
.latlngs {
	width: 80px;
	font-size: 14px;
}
/*  end of modal styles */
