@use "body" as *;
@use  "colors" as *;
@use "ktesaNavbar" as *;

#saver {
	margin-bottom: 4px;
}
#map_name {
	width: 112px;
    position: relative;
    top: 2px;
    height: 32px;
    border-radius: 6px;
}
/* Default save method is imphike [see comments in saveOffline.js] */
#imphike {
	margin-left: 1rem;
	margin-bottom: 8px;
	z-index: 1000;
}
#search {
	border-radius: 8px;
	border-width: 1px;
	border-color: $navbar;
	font-size: 16px;
	padding-left: 6px;
	height: 32px;
	width: 216px;
	position: relative;
	top: 4px;
	left: 6px;
}
#clear {
	position: relative;
	font-size: 24px;
	top: 7px;
	left: -26px;
	color: brown;
	z-index: 220;
	cursor: pointer;
}
#nextsteps {
	position: fixed;
	bottom: 16px;
	left: 12px;
	display: none;
	z-index: 1000;
}
#gpxfile {
	width: 220px;
}
#impgpx {
	margin-left: 4px;
	width: 300px;
}
#map {
	overflow: hidden;
	min-height: 300px;
	max-height: calc(100% - 32px);
    width: 100%;
    border: 1px solid #AAA;
	margin-left: 0px;

}
/* Intro Modal */
#options {
	margin-bottom: 6px;
}
#saveRect, #saveHike, #saveGpx  {
	cursor: pointer;
	position: relative;
}
input[type=checkbox] {
	transform: scale(1.2);
}
#delchoice {
	min-width: 140px;
}
/* Save Map Modal */
#progress {
	height: 48px;
	width: 280px;
	background-color: gainsboro;
}
#bar {
	height: 48px;
	width: 2px;
	background-color: SeaGreen;
}
/* Recenter map modal */
.latlngs {
	width: 80px;
	font-size: 14px;
}
/*  end of modal styles */
