$tableBackground: #ffffdf;
$headerRow: bisque;
$rowHover: blanchedalmond;
$inEdit: ghostwhite;

@import "colors";
@import "body";
@import "ktesaNavbar";

img.webShift {
    padding-left: 19px;
}
img.expShift {
    padding-left: 24px;
}
/* table dressing */
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
    background-color: $tableBackground;
    border-style: groove;
    border-width: 4px;
    border-color: goldenRod;
}
th {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-style: outset;
    border-width: 2px;
    border-color: peru;
}
tr:hover {
    background-color: $rowHover;
}
td {
    vertical-align: top;
    padding-left: 4px;
    padding-right: 2px;
}
.hdr_row {
    background-color: $headerRow;
}
.hdr_row:hover {
    cursor: pointer;
    background-color: $brown;
    color: $white;
}
.indxd {
    color: $brown;
}
/* For hike editor page only */
#ineditModal {
    position: absolute;
    display: none;
    height: 32px;
    width: 200px;
    padding-left: 6px;
    padding-top: 12px;
    font-size: 16px;
    background-color: $inEdit;
}

