@use "body" as *;

.btn {
  position: relative;
  z-index: 500;
  margin-top: 2px;
  margin-bottom: 2px;
}
#back {
  margin-left: 4px;
}
#map {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 1px solid #AAA;
}
.modal-header, .modal-footer {
    background-color: #dfe9e3;
    color: black;
}
