body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, verdana;
	background-color: #dadada; }
#tstMap {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
    width: 90%;
    height: 600px;
    z-index: 1; }
fieldset {
	width: 680px;
	margin-left: auto;
	margin-right: auto; }
#won {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	padding-top: 14px;
	background-color: Beige;
	width: 85px;
	height: 40px;
	border: solid;
	border-width: 2px; }
#won:hover {
	cursor: pointer;
	color: Beige;
	background-color: Brown; }
#woff {	
	display: inline-block;
	font-size: 18px;
	text-align: center;
	padding-top: 14px;
	background-color: Beige;
	width: 85px;
	height: 40px;
	border: solid;
	border-width: 2px; }
#woff:hover {
	cursor: pointer;
	color: Beige;
	background-color: Brown; }
#ion {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	padding-top: 14px;
	background-color: Azure;
	width: 85px;
	height: 40px;
	border: solid;
	border-width: 2px; }
#ion:hover {
	cursor: pointer;
	color: Beige;
	background-color: Brown; }
#ioff {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	padding-top: 14px;
	background-color: Azure;
	width: 85px;
	height: 40px;
	border: solid;
	border-width: 2px; }
#ioff:hover {
	cursor: pointer;
	color: Beige;
	background-color: Brown; }
#istat {
	color: Red; }
#wstat {
	color: Red; }
#getDirs {
	width: 180px;
	height: 30px;
	margin-top: 15px;
	padding-top: 10px;
	padding-left: 18px;
	font-size: 18px;
	border-style: solid;
	border-width: 2px;
	border-color: DarkBlue;
	background-color: Beige; }
#getDirs:hover {
	cursor: pointer;
	background-color: Brown;
	color: Beige; }
