$page-bg: #eaeaea;
$page-fontsize: 16px;
$page-fonts: arial, verdana;
$page-margin: 0;
body {
    background-color: $page-bg;
    margin: $page-margin;
    font: {
        family: $page-fonts;
        size: $page-fontsize;
    }
    overflow: hidden;
}
/* navigation bar */

.navbar {
    background-color: darkslategray;
  }
  
  .nav-link {
    color: whitesmoke !important;
  }
  
  ul.dropdown-menu {
    background-color: whitesmoke !important;
  }
/* Logo and login bar */
#logo {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 52px;
    margin-bottom: 6px;
    margin-right: 12px;
    background-color: #ffe866;
    z-index: 1;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#pattern {
    background-image: url("../images/southwest_pattern.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    margin-top: 2px;
    padding: 0px;
    height: 16px;
}

.logo_items {
    display: inline-block;
}

#pgheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/* The 3 elements [leftside, center, rightside] in 'pgheader' have widths = contents */
#leftside {
    float: left;
    margin-bottom: 0px;
    width: fit-content;
}

#ctr {
    clear: both;
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

#rightside {
    float: right;
    margin-bottom: 0px;
    width: fit-content;
}

#hikers {
    display: inline;
    margin-top: 3px;
    margin-left: 10px;
    z-index: 100;
}

#tmap {
    display: inline;
    margin-right: 8px;
    margin-top: 4px;
    z-index: 100;
}

#logo_left {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    color: darkslategray;
    z-index: 5;
}

#logo_right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: darkslategray;
    z-index: 5;
}

#trail {
    clear: both;
    text-align: center;
    font-weight: bold;
}

/* login elements */
#cookie_state, #cookies_choice {
    display: none;
}

/* modals */
.modal-header, .modal-footer {
    background-color: #dfe9e3;
    color: black;
}
  
.modal-body {
    color: black;
    text-align: left;
}
  
input[id^=q] {
    margin-bottom: 4px;
}

/* Main body section */
#welcome {
    text-align: center;
    font-weight: bold;
}

#welcome, #detail, #usrview {
    margin-bottom: 0px;
}

.landing_content {
    position: relative;
    clear: both;
    text-align: center;
    color: black;
    font-size: 20px;
}

h2 {
    padding-top: 6px;
    font-family: cursive;
}

::placeholder {
    color: gray;
}

p {
    margin-bottom: 2px;
}

#opts {
    margin-top: 2px !important;
}

.flexitem {
    display: block;
}
.pair  {
    display: inline-block;
    font-size: 1rem;
    margin-right: 20px;
}
.pair:hover {
    cursor: pointer;
}

#table, #map, #save, #use {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
}
  
#nosave, #nouse {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    opacity: 0.3;
}

#home {
    margin-bottom: 4px;
}

#map {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
}

.dbl {
    padding-bottom: 1px;
}
  
.icons {
    position: relative;
}

@media screen and (max-width: 390px) and (min-width: 316px) {
    .icons {
        width: 110px;
    }
}
@media screen and (min-width: 400px) {
    .icons {
        width: 146px;
    }
}
@media screen and (min-width:600px) {
    .icons {
        width: 160px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 475px) {
    .landing_content {
        width: 100%;
    }
    .flexitem {
        display: inline-block;
    }
    #choice3 {
        margin-left: 20px;
    }
}
#bennies {
    display: none;
    width: max-content;
    font-size: 0.92rem;
    padding: 6px;
    line-height: 1.3rem;
    text-align: left;
    margin-top: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: darkblue;
    border-width: 1px;
}

#memlist {
    margin-bottom: 0px;
}

#adminmail, #adminmsg  {
    font-style: italic;
}

#adminmsg {
    color: brown;
}

#adminmail {
    text-decoration: underline
}
