body { 
    background-color: #eaeaea;
    font-size: 16px;
}
legend { 
    color: darkgreen;
    font-style: italic;
}
#tools {
    margin-left: 24px;
    font-size: 16px;
}
select {
    height: 24px;
    font-size: 16px;
}
button {
    height: 24px;
    font-size: 16px;
    color: darkblue;
}
.ind {
    font-size: 18px;
    line-height: 1.4em;
}
#dtbl,#ctbl,#ltbl {
    position: absolute;
    left: 170px;
}
#drop,#create,#sgls {
    position: absolute;
    left: 294px;
}
#ni {
    color: brown;
    position: absolute;
    left: 420px;
}