body { 
    background-color: #eaeaea;
    font-size: 16px;
    margin: 0px;
}
legend { 
    color: darkgreen;
    font-style: italic;
}
#sitemode {
    font-size: 16px;
}
#currstate {
    color: blue;
}
#tools {
    margin-left: 24px;
    font-size: 16px;
}
select {
    height: 24px;
    font-size: 16px;
}
button {
    height: 24px;
    font-size: 16px;
    color: darkblue;
}
button:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}
input[type=submit] {
    font-size: 18px;
    color: DarkBlue;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: BlanchedAlmond;
}
input[type=file] {
    font-size: 18px;
    color: brown;
}
input[type=file]:hover {
    cursor: pointer;
}
.ged {
    margin-left: 24px;
}
