/* "global" colors: local exceptions are contained in their respective modules */
/* scss standard definitions */
body {
    min-width: 960px;
    background-color: #eaeaea;
    margin: 0;
    font-family: arial, verdana;
    font-size: 16px;
}

.navbar {
    background-color: darkslategray;
}

.navbar-brand {
    color: #bfd9bf !important;
    font-style: italic;
}

.nav-link {
    color: whitesmoke !important;
}

ul.dropdown-menu {
    background-color: whitesmoke !important;
}

/* Logo */
#logo {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 52px;
    margin-bottom: 6px;
    margin-right: 12px;
    background-color: #ffe866;
    z-index: 1;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#pattern {
    background-image: url("../images/southwest_pattern.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    margin-top: 2px;
    padding: 0px;
    height: 16px;
}

.logo_items {
    display: inline-block;
}

#leftside {
    float: left;
    margin-bottom: 0px;
}

#ctr {
    clear: both;
    margin-top: 4px;
    margin-bottom: 0px;
}

#rightside {
    float: right;
    margin-bottom: 0px;
}

#hikers {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    z-index: 100;
}

#tmap {
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    z-index: 100;
}

#logo_left {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    color: darkslategray;
    z-index: 5;
}

#ctr {
    font-size: 18px;
    font-weight: bold;
}

#logo_right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: darkslategray;
    z-index: 5;
}

#trail {
    clear: both;
    text-align: center;
    font-weight: bold;
}

/* login elements */
#cookie_state, #cookies_choice, #admin, #contrib, #admintools {
    display: none;
}

/* modals */
.modal-header, .modal-footer {
    background-color: #dfe9e3;
    color: black;
}

.modal-body {
    color: black;
    text-align: left;
}

input[id^=q] {
    margin-bottom: 4px;
}

#tools {
    margin-left: 24px;
    box-sizing: content-box;
}

button {
    margin-bottom: 4px;
    border-width: 1px;
}

/* Getting fieldset/legend to work in Bootstrap is very tricky! */
fieldset.afs {
    float: none;
    width: auto;
    border: 2px solid darkgreen !important;
    border-radius: 4px !important;
    padding: 0px 6px 6px 8px;
}

legend {
    float: none;
    width: inherit;
    color: darkgreen;
    font-style: italic;
    font-size: 18px;
    padding: 0 5px;
}

#loading {
    display: none;
    position: absolute;
    top: 276px;
    left: 32%;
}

.cats {
    font-size: 18px;
    color: brown;
}

#testsite {
    margin-left: 24px;
}

.installdat {
    height: 28px;
    font-size: 16px;
    width: 180px;
}

#sites {
    padding-top: 6px;
}

#switchstate, #lst, #swdb {
    margin-bottom: 12px;
}

#lister {
    position: relative;
    top: -6px;
}

#skipsites {
    height: 32px;
    width: 220px;
}

.adminbuttons {
    color: black;
    background-color: ghostwhite;
}

.adminbuttons:hover {
    color: white;
    background-color: #6D3C17;
}

#sitemode, #currstate, #emode, #cdb {
    font-size: 18px;
}

#currstate {
    color: blue;
    font-weight: bold;
}

#test, #real {
    font-weight: bold;
}

#tools {
    margin-left: 24px;
    font-size: 16px;
}

select {
    height: 24px;
    font-size: 16px;
}

#datepicker, #revlist {
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 4px;
}

#revresult, label {
    font-size: 18px;
}

input[type=file] {
    font-size: 18px;
}

input[type=file]:hover {
    cursor: pointer;
}

#filebrowse {
    margin-bottom: 6px;
}

/*# sourceMappingURL=admintools.css.map */