button {
    background-color: #6D3C17;
	color: white;
    height: 28px;
    font-size: 16px;
    border-radius: 6px;
}
button:hover {
    cursor: pointer;
    background-color: moccasin;
	color: black;
}