body {
    min-width: 960px;
    background-color: #eaeaea;
    margin: 0;
    font-family: arial, verdana;
    font-size: 16px;
}
#main {
    margin-left: 24px;
    width:60%;
}
#forceCheck {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}
#extgpx, #mgpx, #megpx, #mgps, #megps, #extjson, #mjson {
    margin-bottom: 1rem;
}