/* scss standard definitions */
/* line 8, ../../../../../Users/kencowles/src/ktesa/sass/_body.scss */
body {
  min-width: 960px;
  background-color: #eaeaea;
  margin: 0;
  font-family: arial, verdana;
  font-size: 16px;
}

/* line 1, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
.navbar {
  background-color: darkslategray;
}

/* line 4, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
.navbar-brand {
  color: #bfd9bf !important;
  font-style: italic;
}

/* line 8, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
.nav-link {
  color: whitesmoke !important;
}

/* line 11, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
ul.dropdown-menu {
  background-color: whitesmoke !important;
}

/* Logo */
/* line 15, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#logo {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 52px;
  margin-bottom: 6px;
  margin-right: 12px;
  background-color: #ffe866;
  z-index: 1;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#pattern {
  background-image: url("../images/southwest_pattern.png");
  background-repeat: repeat-x;
  background-attachment: scroll;
  margin-top: 2px;
  padding: 0px;
  height: 16px;
}

/* line 39, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
.logo_items {
  display: inline-block;
}

/* line 42, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#leftside {
  float: left;
  margin-bottom: 0px;
}

/* line 46, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#ctr {
  clear: both;
  margin-top: 4px;
  margin-bottom: 0px;
}

/* line 51, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#rightside {
  float: right;
  margin-bottom: 0px;
}

/* line 55, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#hikers {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  z-index: 100;
}

/* line 60, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#tmap {
  float: right;
  margin-right: 8px;
  margin-top: 4px;
  z-index: 100;
}

/* line 65, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#logo_left {
  float: left;
  margin-left: 12px;
  margin-top: 4px;
  color: darkslategray;
  z-index: 5;
}

/* line 71, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#ctr {
  font-size: 18px;
  font-weight: bold;
}

/* line 75, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#logo_right {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: darkslategray;
  z-index: 5;
}

/* line 81, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#trail {
  clear: both;
  text-align: center;
  font-weight: bold;
}

/* login elements */
/* line 87, ../../../../../Users/kencowles/src/ktesa/sass/ktesaNavbar.scss */
#cookie_state, #cookies_choice, #admin, #contrib, #admintools {
  display: none;
}

/* line 4, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#main {
  box-sizing: content-box;
}

/* line 7, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#atxt {
  font-size: 20px;
  float: right;
  margin-right: 16px;
  color: black;
}

/* tabbing items */
/* line 14, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tablist {
  float: left;
  width: 180px;
  height: 30px;
  margin-bottom: 0px;
  border-style: inset;
  border-bottom: none;
  border-width: 2px;
  border-radius: 12px 12px 0px 0px;
  font-size: 18px;
  color: DarkGray;
  background-color: cornsilk;
}

/* line 27, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tablist.active {
  background-color: #eaeaea;
  color: black;
}

/* line 31, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tablist:hover {
  cursor: pointer;
}

/* line 34, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#line {
  float: left;
  width: 60px;
  height: 30px;
  margin-bottom: 0px;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  background-color: #eaeaea;
}

/* line 44, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tab-panel {
  clear: left;
  display: none;
  margin-top: 12px;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: 1px;
  padding: 16px;
}

/* line 54, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tab-panel.active {
  display: block;
}

/* line 57, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.subbtn {
  z-index: 9999;
  width: 100px;
}

/* The next several apply to tab1 plus other tabs as well */
/* line 62, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.up {
  position: relative;
  top: -4px;
}

/* line 66, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
input[type=checkbox] {
  /* Double-sized Checkboxes  - Browser dependent code */
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  padding: 10px;
  position: relative;
  z-index: 1;
}

/* line 78, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
textarea {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  border-style: solid;
  border-width: 2px;
  border-color: DarkGray;
  padding: 5px;
  background-color: LavenderBlush;
}

/* line 87, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
textarea:focus {
  background-color: PapayaWhip;
}

/* line 90, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
textarea.ctrshift {
  position: relative;
  top: 10px;
}

/* line 94, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tstyle1 {
  height: 33px;
  width: 65px;
}

/* line 98, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tstyle2 {
  height: 33px;
  width: 260px;
}

/* line 102, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tstyle3 {
  height: 33px;
  width: 200px;
}

/* line 106, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.tstyle4 {
  height: 33px;
  width: 160px;
}

/*  next are tab1 only */
/* line 112, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#hilite {
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/* line 118, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
input[id^=gpxfile] {
  height: 28px;
  font-size: 16px;
}

/* line 122, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
span.brown {
  color: brown;
}

/* line 125, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#hike {
  height: 36px;
  width: 200px;
}

/* line 129, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#newloc {
  display: none;
}

/* line 132, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#area {
  height: 34px;
  width: 120px;
}

/* line 136, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#locregion {
  height: 34px;
}

/* line 139, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#userloc {
  height: 32px;
  font-size: 16px;
  background-color: lavenderblush;
}

/* line 144, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#userloc:focus {
  background-color: papayawhip;
}

/* line 147, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#type {
  height: 34px;
  width: 130px;
}

/* line 151, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#diff {
  height: 34px;
  width: 160px;
}

/* line 155, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#fac {
  height: 36px;
  width: 200px;
}

/* line 159, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#wow {
  height: 36px;
  width: 320px;
}

/* line 163, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#seas {
  height: 36px;
  width: 100px;
}

/* line 167, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#sun {
  height: 34px;
  width: 150px;
}

/* line 171, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#gpxcalcs {
  margin-bottom: 6px;
}

/* line 174, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#miles, #elev, #lat, #lon {
  display: inline-block;
  font-size: 18px;
}

/* line 178, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#miles {
  width: 70px;
}

/* line 181, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#elev {
  width: 100px;
}

/* line 184, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#lat {
  width: 130px;
}

/* line 187, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#lon {
  width: 140px;
}

/* line 190, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#dirlbl {
  position: relative;
  top: -24px;
}

/* line 194, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#murl {
  height: 76px;
  width: 850px;
}

/* line 198, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#clusters {
  height: 32px;
  width: 220px;
}

/* line 202, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#cluscoords {
  position: relative;
  top: 6px;
}

/* line 206, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#cluslat, #cluslng {
  height: 34px;
}

/* tab2 only items */
/* line 211, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#pupld.is-dragover {
  box-sizing: content-box;
  background-color: grey;
}

/* line 215, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#userupld {
  font-weight: bold;
  font-size: 18px;
}

/* line 219, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#nophotos {
  font-style: italic;
  color: brown;
}

/* line 223, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* line 229, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 237, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.inputfile + label {
  margin-left: 16px;
  font-size: 18px;
  border-radius: 6px;
  background-color: #6c757d;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 6px;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* line 249, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #696969;
  color: white;
}

/* line 254, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#ldg {
  color: brown;
  display: none;
  font-weight: bold;
}

/* line 259, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#preload {
  display: none;
  position: relative;
  top: 32px;
  left: 320px;
}

/* line 265, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#picchks {
  box-sizing: content-box;
  position: relative;
  top: -14px;
  margin-left: 16px;
}

/* line 271, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#picbox {
  box-sizing: content-box;
  margin-left: 16px;
  clear: none;
  overflow: auto;
}

/* line 277, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.capts {
  box-sizing: content-box;
}

/* line 280, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.popupCap {
  margin: 0px;
  display: none;
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;
}

/* line 288, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.capLine {
  margin: 0px;
  font-weight: bold;
  background-color: #eaeaea;
}

/* line 293, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.allPhotos {
  box-sizing: content-box;
}

/* line 297, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#ldgif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 302, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#load {
  font-size: 18px;
  margin-left: 24px;
  background-color: #ffe6e9;
}

/* line 307, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#load:hover {
  cursor: pointer;
  background-color: papayawhip;
}

/* line 311, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#npts > textarea, #gpts > textarea, #wypts > textarea {
  position: relative;
  top: 7px;
  height: 33px;
  font-size: 16px;
  margin-left: 12px;
}

/* line 318, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.wpticons {
  height: 32px;
}

/* line 321, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.wpticonshift {
  position: relative;
  top: 7px;
}

/* tab2 preview boxes */
/* line 327, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
ol li:first-child {
  margin-bottom: 12px;
}

/* line 330, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
ol li::marker {
  font-size: 20px;
}

/* line 333, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.file_label {
  font-size: 16px;
  background-color: #6c757d;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 8px;
}

/* line 342, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.file_label:hover {
  background-color: #696969;
  color: black;
}

/* line 346, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
.file_input {
  display: none;
}

/* line 349, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#thumbpic {
  box-sizing: content-box;
}

/* line 352, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#redo_thumb {
  font-size: 16px;
}

/* line 355, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#boxes {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-evenly;
  box-sizing: content-box;
}

/* line 362, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#repl {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 500px;
  height: 500px;
  border-style: dashed;
  border-width: 1px;
  background-color: blanchedalmond;
}

/* line 375, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#presize, #sizeblock {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 300px;
  height: 225px;
  border-style: dashed;
  border-width: 1px;
  background-color: blanchedalmond;
}

/* line 388, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#repl.entered {
  background-color: darkgray;
}

/* line 391, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#presize.entered {
  background-color: darkgray;
}

/* line 394, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#cprestart, #bxresbtn {
  box-sizing: content-box;
}

/* line 397, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
#cprestart {
  position: relative;
  top: 0px;
  height: 100px;
  text-align: center;
}

/* tab4 only items */
/* line 405, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
div[id=tab4] {
  box-sizing: content-box;
}

/* line 408, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
input[name=newgps], input[name=newmap] {
  height: 22px;
  font-size: 16px;
}

/* line 412, ../../../../../Users/kencowles/src/ktesa/sass/editDB.scss */
input[name=newgps], input[name=newmap] {
  height: 30px;
}

/*# sourceMappingURL=editDB.css.map */