#spinner {
	height: 16px;
	width: 40px;
}
#dispopts {
	display: none;
}
button {
	font-size: 16px;
	height: 28px;
	background-color: honeydew;
	margin-bottom: 12px;
}
button:hover {
	cursor: pointer;
	background-color: aliceblue;
	color: brown;
}
.normal {
	color: black;
	text-decoration: none;
}
.hidden {
	display: none;
}
.inline {
	display: inline-block;
}