#spinner {
	width: 40px;
}
#tblfilter {
	display: none;
}
#areachoice {
	margin-top: 8px;
	margin-bottom: 6px;
}
#hikechoice {
	margin-top: 2px;
}
.blue {
	color: darkblue;
}
select {
	font-size: 16px;
}