/* Styles for the New Mexico Hiking Adventures page */
body {
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-family: arial, verdana;
	background-color: #dfdfdf;
	overflow-x: hidden;
	overflow-y: hidden;
}
#logo {
	margin-bottom: 0px;
}
#searchbar {
	border-radius: 8px;
	border-width: 1px;
	border-color: darkslategray;
	font-size: 16px;
	padding-left: 6px;
	height: 34px;
	position: absolute;
	top: 91px;
	left: 140px;
	z-index: 200;
}
#srch {
	display: none;
}
#geoSetting {
	display: none;
}
#geoCtrl {
	position: absolute;
	z-index: 100;
}
#geoCtrl:hover {
	cursor: pointer;
}
#map {
	float: left;
	margin-bottom: 16px;
    width: 75%;
    height: 720px;
	z-index: 1;
}
#legend {
	position: absolute;
}
#maplegend {
	background-color: floralwhite;
	width: 380px;
	border: 2px solid black;
	display: none;
	position: absolute;
	z-index: 2000;
}
#maplegend ul {
	list-style: none;
	list-style-position: outside;
	padding-left: 6px;
}
li img {
	float: left;
	margin-right: 4px;
}
li {
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 4px;
}
#header {
	width: 100%;
	background-color: #ffeecc;
	font-size: 20px;
	text-align: center;
	padding-bottom: 2px;
	border-bottom: 2px solid black;
}
#can {
	float: right;
	height: 100%;
	padding: 0px 8px 2px 8px;
	font-weight: bold;
	border-left: 2px solid black;
}
#iwVC {
	background-color: #f0f0f0;
	color: Black;
	padding: 8px;
	margin: 3px;
}
#iwCH {
	background-color: #f0f0f0;
	color: Black;
	padding: 8px;
	margin: 3px;
}
#iwNH {
	background-color: #f0f0f0;
	color: Black;
	padding: 8px;
	margin: 3px;
}
#iwXH {
	background-color: #f0f0f0;
	color: Black;
	padding: 8px;
	margin: 3px;
}
#iwVC a, #iwCH a, #iwNH a, #iwXH a {
	font-size: 12px;
	top: -1px;
	left: -6px;
}
#sideTable {
	float: left;
	width: 25%;
	overflow-x: hidden;
}
.tableItem {
	background-color: floralwhite;
	height: 64px;
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	float: left;
}
.tip {
	display: none;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
  	z-index: 2;
}
.like {
	cursor: pointer;
	padding-top: 6px;
	padding-left: 6px;
	float: left;
}
a:link {
	position: relative;
	top: 2px;
	padding-left:6px;
	font-size: 18px;
	color: blue;
	text-decoration: underline;
}
.subtxt {
	padding-left: 6px;
	font-size: 14px;
	position: relative;
	top: 2px;
}
.content:last-child {
	top: 0px;
}
#tbl_container {
	display: none;
}