body {
    min-width: 960px;
    background-color: #eaeaea;
    margin: 0;
    font-family: arial, verdana;
    font-size: 18px;
}

.navbar {
    background-color: darkslategray;
}

.navbar-brand {
    color: #bfd9bf !important;
    font-style: italic;
}

.nav-link {
    color: whitesmoke !important;
}

ul.dropdown-menu {
    background-color: whitesmoke !important;
}

/* Logo */
#logo {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 52px;
    margin-bottom: 6px;
    margin-right: 12px;
    background-color: #ffe866;
    z-index: 1;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#pattern {
    background-image: url("../images/southwest_pattern.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    margin-top: 2px;
    padding: 0px;
    height: 16px;
}

.logo_items {
    display: inline-block;
}

#leftside {
    float: left;
    margin-bottom: 0px;
}

#ctr {
    clear: both;
    margin-top: 4px;
    margin-bottom: 0px;
}

#rightside {
    float: right;
    margin-bottom: 0px;
}

#hikers {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    z-index: 100;
}

#tmap {
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    z-index: 100;
}

#logo_left {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    color: darkslategray;
    z-index: 5;
}

#ctr {
    font-size: 18px;
    font-weight: bold;
}

#logo_right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: darkslategray;
    z-index: 5;
}

#trail {
    clear: both;
    text-align: center;
    font-weight: bold;
}

/* login elements */
#cookie_state, #cookies_choice, #admin, #contrib, #admintools {
    display: none;
}

/* Presentation of constraints */
#constraints {
    max-width: 800px
}
.margins {
    margin-left: 24px;
}
#new_size, #start {
    padding-left: 4px;
    width: 48px;
    height: 24px;
}
#loading {
    display: none;
}
#gif {
    margin-left: 100px;
}
#test {
    border-radius: 6px;
    padding: 6px;
    border-width: 2px;
    cursor: pointer;
    background-color: wheat;
    margin-bottom: 6px;
}
#test:hover {
    background-color: darkslategray;
    color: white;
}
.bottom {
    margin-bottom: 12px;
}

/* modals */
.modal-header, .modal-footer {
    background-color: #dfe9e3;
    color: black;
}

.modal-body {
    color: black;
    text-align: left;
}

#lnk_results {
    border-collapse: collapse;
}
#lnk_results td, #lnk_results th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lnk_results tr:nth-child(even){background-color: #c8c8c8;}

#lnk_results tr:hover {background-color: #fcf5e8;}

#lnk_results th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: darkslategray;
    color: whitesmoke;
}
