/* Styles for the New Mexico Hiking Adventures page */
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, verdana;
	background-color: #dfdfdf;
	border-style: solid;
	border-width: 2px;
	border-color: DarkBlue; }
#container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	postion: relative; }
img#tompic {
	display: block;
	float: right;
	margin-left: 10px;
	margin-right: 7px;
	margin-top: -6px; }
#banner {
	height: 58px;
	margin-left: 8px;
	border-style: outset;
	border-width: 2px;
	border-color: #d4e8d4;
	font-style: oblique;
	background-color: #dff8e3;
	line-height: 3.0em;
	text-align: center; }
#banner:first-letter {
	//background-color: #d4e8d4;
	background-color: #dff8e3;
	font-size: 38px;
	font-style: serif;
	font-weight: bold;
	color: #302dd3; }
#intro {
	margin-left: 8px; }
#features {
	margin-left: 8px;
	margin-top: 30px; }
#expl {
	padding-left: 8px; }
.btxt {
	color: DarkBlue; }
#b1:hover {
	cursor: pointer;
	background-color: #cfe2cf; }
#b2:hover {
	cursor: pointer;
	background-color: #cfe2cf; }
#b3:hover {
	cursor: pointer;
	background-color: #f8dcd3; }
#b4:hover {
	cursor: pointer;
	background-color: #f8dcd3; }
#expect {
	padding-left: 8px;
	font-style: bold;
	text-decoration: underline;
	color: DarkBlue;
	font-size: 20px; }
#closeNote {
	color: DarkGreen; }
#itals {
	color: DarkBlue; }
.strtup {
	width: 140px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	color: DarkBlue;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black; }
fieldset {
	width: 285px;
	display: inline-block; }
legend {
	color: DarkGreen; }
#mapDetails {
	margin-top: 10px;
	color: DarkBlue;
	text-decoration: underline; }
#notes {
	margin-top: 8px;
	border-style: outset;
	border-width: 2px;
	border-color: #d4e8d4;
	background-color: #dff8e3;
	padding: 8px; }
#disclaimers {
	margin-top: 12px;
	padding: 8px; }
#disasters {
	list-style-type: square;
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px; }
#linkNote {
	padding-left: 12px;
	padding-right: 6px; }
#closer {
	margin-top: 20px;
	margin-left: 8px;
	margin-bottom: 20px;
	height: 32px;
	line-height: 1.8em;
	padding: 10px;
	background-color: #c9d7e8;
	border-style: outset;
	border-width: 2px;
	border-color: #c9d7e8;
	text-align: center; }
