.navbar {
    background-color: darkslategray;
}

.navbar-brand {
    color: #bfd9bf !important;
    font-style: italic;
}

.nav-link {
    color: whitesmoke !important;
}

ul.dropdown-menu {
    background-color: whitesmoke !important;
}

/* Logo */
#logo {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 52px;
    margin-bottom: 6px;
    margin-right: 12px;
    background-color: #ffe866;
    z-index: 1;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#pattern {
    background-image: url("../images/southwest_pattern.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    margin-top: 2px;
    padding: 0px;
    height: 16px;
}

.logo_items {
    display: inline-block;
}

#leftside {
    float: left;
    margin-bottom: 0px;
}

#ctr {
    clear: both;
    margin-top: 4px;
    margin-bottom: 0px;
}

#rightside {
    float: right;
    margin-bottom: 0px;
}

#hikers {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    z-index: 100;
}

#tmap {
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    z-index: 100;
}

#logo_left {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    color: darkslategray;
    z-index: 5;
}

#ctr {
    font-size: 18px;
    font-weight: bold;
}

#logo_right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: darkslategray;
    z-index: 5;
}

#trail {
    clear: both;
    text-align: center;
    font-weight: bold;
}

/* login elements */
#cookie_state, #cookies_choice, #admin, #contrib, #admintools {
    display: none;
}

/* modals */
.modal-header, .modal-footer {
    background-color: #e7f8ee;
    color: black;
}

.modal-body {
    color: black;
    text-align: left;
}

input[id^=q] {
    margin-bottom: 4px;
}

#logo {
    margin-bottom: 0px;
}

html, body {
    font-family: arial, verdana;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#trail {
    display: none;
}

#searchbar {
    border-radius: 8px;
    border-width: 1px;
    border-color: darkslategray;
    font-size: 16px;
    padding-left: 6px;
    height: 34px;
    position: absolute;
    z-index: 200;
}

#map {
    height: 100%;
    width: 100%;
}

#srch {
    display: none;
}

#geoSetting {
    display: none;
}

#geoCtrl {
    position: absolute;
    z-index: 100;
}

#geoCtrl:hover {
    cursor: pointer;
}

#legend {
    position: absolute;
}

li img {
    float: left;
    margin-right: 4px;
}

li {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 4px;
}

#iwVC {
    background-color: #f0f0f0;
    color: Black;
    padding: 8px;
    margin: 3px;
}

#iwCH {
    background-color: #f0f0f0;
    color: Black;
    padding: 8px;
    margin: 3px;
}

#iwNH {
    background-color: #f0f0f0;
    color: Black;
    padding: 8px;
    margin: 3px;
}

#iwXH {
    background-color: #f0f0f0;
    color: Black;
    padding: 8px;
    margin: 3px;
}

#iwVC a, #iwCH a, #iwNH a, #iwXH a {
    font-size: 12px;
    top: -1px;
    left: -6px;
}

/* For favorites map page: */
#favlist {
    position: absolute;
}

/*# sourceMappingURL=mapOnly.css.map */