html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: arial, verdana;
}
#map {
	height: 100%;
}
#geoSetting {
	display: none; }
#geoCtrl {
	position: absolute;
	z-index: 100; }
#geoCtrl:hover {
	cursor: pointer;
}
#newHikeBox {
	display: none;
	position: absolute;
	top: 140px;
	left: 440px;
	width: 110px;
	height: 50px;
	background-color: #D1E5CF;
	color: Blue;
	text-align: center;
	padding-top: 10px;
	z-index: 100; }
#map {
	z-index: 1; }
#refTbl {
	display: none; }
#iwVC {
	background-color: #f0f0f0;
	color: Brown;
	padding: 8px;
	margin: 3px; }
#iwCH {
	background-color: #f0f0f0;
	color: DarkBlue;
	padding: 8px;
	margin: 3px; }
#iwNH {
	background-color: #f0f0f0;
	color: DarkBlue;
	padding: 8px;
	margin: 3px; }
#iwXH {
	background-color: #f0f0f0;
	color: DarkBlue;
	padding: 8px;
	margin: 3px; }
