#geoCtrl {
	display: none;
	position: absolute;
	top: 70px;
	left: 180px;
	width: 140px;
	height: 40px;
	padding-left: 18px;
	padding-top: 20px;
	color: DarkGreen;
	font-weight: bold;
	font-size: 18px;
	background-color: white;
	z-index: 100; }
#geoCtrl:hover {
	cursor: pointer;
	background-color: Brown;
	color: White; }
#map {
	z-index: 1; }
#dbase {
	display: none; }
#iwVC {
	background-color: #f0f0f0;
	color: DarkGreen;
	padding: 8px;
	margin: 3px; }
#iwCH {
	background-color: #f0f0f0;
	color: DarkBlue;
	padding: 8px;
	margin: 3px; }
#iwOH {
	background-color: #f0f0f0;
	color: DarkBlue;
	padding: 8px;
	margin: 3px; }
