/* Page margin of 8px has been added to absolute positions for Cities & Names
-- The map blocks & area hike counts: */
#nmMap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; }
#nmnw {
	display: inline-block;
	width: 160px;
	height: 125px;
	background: #ffffc7; }
#nmne {
	display: inline-block;
	width: 290px;
	height: 125px;
	margin-left: -4px;
	background: Khaki; }
#hikes1 {
	position: absolute;
	top: 52px;
	left: 40px; 
	color: Blue;
	font-size: 14px; }
#hikes2 {
	position: absolute;
	top: 52px;
	left: 275px;
	color: Blue; 
	font-size: 14px; }
#nmcw {
	display: inline-block;
	width: 110px;
	height: 140px;
	background: #e0f4d7; }
#nmc  {
	display: inline-block;
	margin-left: -4px;
	width: 130px;
	height: 140px;
	background: #e0d4f4; }
#nmce {
	display: inline-block;
	width: 210px;
	margin-left: -4px;
	height: 140px;
	background: LightGray; }
#hikes3 {
	position: absolute;
	top: 182px;
	left: 25px;
	color: Blue; 
	font-size: 14px; }
#hikes4 {
	position: absolute;
	top: 182px;
	left: 140px;
	color: Blue; 
	font-size: 14px; }
#hikes5 {
	position: absolute;
	top: 182px;
	left: 320px;
	color: Blue; 
	font-size: 14px; }
#nmsw {
	display: inline-block;
	width: 240px;
	height: 135px;
	background: #f7d9e2; }
#nmse {
	display: inline-block;
	margin-left: -4px;
	width: 210px;
	height: 135px;
	background: #c7dde1; }
#hikes6 {
	position: absolute;
	top: 312px;
	left: 100px;
	color: Blue; 
	font-size: 14px; }
#hikes7 {
	position: absolute;
	top: 312px;
	left: 300px;
	color: Blue; 
	font-size: 14px; }
#nmbtm1 {
	display: inline-block;
	width: 180px;
	height: 15px;
	background: #f7d9e2; }
#nmbtm2 {
	display: inline-block;
	width: 60px;
	height: 30px; 
	background: #f7d9e2; }
#btm3 {
	display: inline-block;
	margin-left: -4px;
	width: 270px;
	height: 15px; }
#btm4 {
	display: inline-block;
	margin-left: -4px;
	width: 390px;
	height: 30px; }

	
		
/* Cities & Names */
#santafe {
	position: absolute;
	top: 106px;
	left: 242px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#sftxt {
	position: absolute;
	top: 103px;
	left: 256px;
	font-size: 12px; }
#abq {
	position: absolute;
	top: 153px;
	left: 186px;
	width: 12px;
	height: 12px;
	background: red;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; }
#abqtxt {
	position: absolute;
	top: 153px;
	left: 200px;
	font-size: 14px; }
#socor {
	position: absolute;
	top: 235px;
	left: 163px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#soctxt {
	position: absolute;
	top: 233px;
	left: 176px;
	font-size: 12px; }
#gallup {
	position: absolute;
	top: 119px;
	left: 27px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#galtxt {
	position: absolute;
	top: 117px;
	left: 40px;
	font-size: 12px; }
#scity {
	position: absolute;
	top: 337px;
	left: 52px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#scitytxt {
	position: absolute;
	top: 336px;
	left: 65px;
	font-size: 12px; }
#lascruces {
	position: absolute;
	top: 376px;
	left: 177px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#lctxt {
	position: absolute;
	top: 374px;
	left: 190px;
	font-size: 12px; }
#ros {
	position: absolute;
	top: 286px;
	left: 355px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#rostxt {
	position: absolute;
	top: 284px;
	left: 367px;
	font-size: 12px; }
#raton {
	position: absolute;
	top: 8px;
	left: 355px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#rattxt {
	position: absolute;
	top: 6px;
	left: 368px;
	font-size: 12px; }
#srosa {
	position: absolute;
	top: 165px;
	left: 336px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#srosatxt {
	position: absolute;
	top: 163px;
	left: 349px;
	font-size: 12px; }
#farm {
	position: absolute;
	top: 20px;
	left: 69px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#farmtxt {
	position: absolute;
	top: 17px;
	left: 82px;
	font-size: 12px; }
#cbad {
	position: absolute;
	top: 365px;
	left: 378px;
	width: 8px;
	height: 8px;
	background: red;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
#cbadtxt {
	position: absolute;
	top: 363px;
	left: 391px;
	font-size: 12px; }
#btm1 {
	position: absolute;
	top: 408px;
	left: 40px;
	font-size: 10px; }
#btm2 {
	position: absolute;
	top: 425px;
	left: 40px;
	font-size: 10px; }
.nxtblk {
	display: block;
	margin-top: -6px; }
.mapHdr {
	color: blue;
	text-align: center; }
	
/* Keep tables invisible until region is selected */
.tblDivs {
	display: none; }
#getWholeTbl {
	cursor: pointer; }
.region  {
	cursor: pointer; }
.tloc {
	cursor: pointer; }
.rsortable {
	margin-left: auto;
	margin-right: auto; }
/* Tried to apply tapers to NM map, but seemed tricky, so omitted:
#leftside-triangle {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-bottom: 445px solid gray;
	border-left: 4px solid transparent; }
#rightside-triangle {
	float: right;
	width: 0px;
	height: 0px;
	margin-right: -4px;
	border-bottom: 400px solid red;
	border-right: 6px solid transparent; }
.adjacent {
	display: inline-block;
	margin-left: -4px; } */




