body {
	min-width: 960px;
	font-family: arial, verdana;
	padding-bottom: 20px;
	background-color: #dadada; }
#indxContent {
	margin-left: 10px;
	margin-right: 10px;
	border-style: outset;
	border-width: 2px;
	border-color: #d4e8d4;
	padding: 10px;
	background-color: #c5d5d5; }
fieldset {
        margin-left: 10px;
        margin-right: 10px; }
#hdrContainer {
	text-align: center;
	margin-top: -10px; }
#tblHdr {
	display: inline-block;
	text-align: left;
	color: DarkGreen;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto; }
#dirs {
	text-align: center; 
	font-style: italic; }
#forceWidth {
	width: 140px; }
#siteIndx {
	background-color: #fffdf;
	margin-left: auto;
	margin-right: auto;
        margin-bottom: 20px;
	background-color: #ffffdf;
	border-style: groove;
	border-width: 4px;
	border-color: goldenRod; }
#siteIndx th {
	padding-left: 5px;
	padding-right: 5px;
	border-style: outset;
	border-width: 2px;
	border-color: peru; }
#siteIndx td {
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px; }
#siteIndx tr {
	margin: 6px; }
.hdrRow {
	background-color: bisque; }
.gray {
	color: gray; }
img {
	margin-top: 10px; }
.mainPic {
	display: block;
	margin-left: auto;
	margin-right: auto; }
img.expShift {
	padding-left: 24px; }
img.webShift {
	padding-left: 19px; }
img.flckrShift {
	padding-left: 20px; }
.naShift {
	text-align: center; }
#fldrefs {
	color: Teal; }