body {
	font-family: arial, verdana;
	background-color: #dadada; }
#siteIndx {
	background-color: #fffdf;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffdf;
	border-style: groove;
	border-width: 4px;
	border-color: goldenRod; }
#siteIndx th {
	padding-left: 5px;
	padding-right: 5px;
	border-style: outset;
	border-width: 2px;
	border-color: peru; }
#siteIndx td {
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px; }
#siteIndx tr {
	margin: 6px; }
.hdrRow {
	background-color: bisque; }
.gray {
	color: gray; }
img {
	margin-top: 10px; }
.mainPic {
	display: block;
	margin-left: auto;
	margin-right: auto; }
 #indxTitle {
 	color: MediumBlue;
 	text-align: center;
 	font-size: 24px;
 	margin-top: 6px;
 	margin-bottom: 10px; }