/* Styles for the New Mexico Hiking Adventures page */
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, verdana;
	background-color: #dfdfdf; }
a:visited {
	color: DarkGreen; }
.container {
	position: relative; }
#logoBlock {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto; }
#page_title {
	position: absolute;
	top: 4px;
	left: 132px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 28px;
	color: DarkBlue; }
#pgLogo  {
	height: 70px;
	width: 920px;
	border-style: inset;
	border-width: 3px;
	border-color: DarkBlue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-image: url("../images/PageTopper.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	opacity: 0.30; }
#logoLeft {
	color: DarkBlue;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 36px; }
#logoRight {
	color: DarkBlue;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 822px; }
img.webShift {
	padding-left: 19px; }
img.flckrShift {
	padding-left: 15px; }
img.expShift {
	padding-left: 24px; }
div #refTbl table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px; }
table {
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
	background-color: #ffffdf;
	border-style: groove;
	border-width: 4px;
	border-color: goldenRod; }
th {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-style: outset;
	border-width: 2px;
	border-color: peru; }
tr:hover {
	background-color: BlanchedAlmond; }
td {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px; }
.hdr_row {
	background-color: bisque; }
.hdr_row:hover {
	cursor: pointer;
	background-color: Brown;
	color: White; }
.indxd {
	color: brown; }
#metric {
	text-align: left;
	width: 190px;
	margin-left: 8px;
	margin-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
	color: MidnightBlue;
	border-style: inset;
	border-width: 3px;
	border-color: MidnightBlue;
	cursor: pointer; }
#geoSetting {
	display: none; }

