/* Styles for the New Mexico Hiking Adventures page */
body {
	margin: 0px;
	font-family: arial, verdana;
	background-color: #dfdfdf;
}
/* Table options header */
#optcontainer {
	position: relative;
	top: -6px;
	text-align: center;
}
#tblopts {
	text-align: center;
	display: inline-block;
	background-color: #ffffdf;
	border-style: solid;
	border-width: 2px;
	border-color:dimgray;
	height: 45px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
}
.topts {
	display: inline-block;
	background-color: ivory;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	height: 34px;
	padding-top: 4px;
	text-align: center;
}
#opt1 {
	width: 110px;
	vertical-align: middle;
}
#opt2 {
	width: 300px;
	vertical-align: middle;
}
#opt3 {
	width: 168px;
	vertical-align: middle;
}
#opt4 {
	width: 120px;
	vertical-align: middle;
}
#showfilter, #multimap, #units {
	margin-top: 1px;
}
#scroller {
	margin-top: 1px;
	font-size: 16px;
	background-color: #6D3C17;
	color: white;
	border-radius: 6px;
	height: 28px;
	width: 110px;
}
#scroller:hover {
	cursor: pointer;
	background-color: moccasin;
	color: black;
}
#gray {
	margin-top: 1px;
	font-size: 16px;
	background-color: gray;
	color: white;
	border-radius: 6px;
	height: 28px;
	width: 110px;
}
#backup {
	display: none;
	position: sticky;
	position: -webkit-sticky;
	top: 120px;
	width: 100px;
	height: 26px;
	font-size: 16px;
	background-color: #6D3C17;
	color: white;
	padding-left: 10px;
	padding-top: 6px;
	transform: rotate(270deg);
	transform-origin: 0px, 0px;
	/* webkit browsers */
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin-x: 0px;
	-webkit-transform-origin-y: 0px;
	/* firefox */
	-moz-transform:rotate(270deg);
	-moz-transform-origin: 0px, 0px;
	/* internet explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* Filtering */
#tblfilter {
	display: none;
}
#areachoice {
	margin-top: 8px;
	margin-bottom: 6px;
}
#hikechoice {
	margin-top: 2px;
}
#usehike {
	height: 24px;
	font-size: 16px;
	border-radius: 4px;
	padding-left: 6px;
}
#spinner {
	width: 40px;
}
select {
	font-size: 16px;
}
#filtnote {
	font-style: italic;
	margin-bottom: 4px;
}
#note {
	color: brown;
}
/* Subtables */
#tblgroups {
	text-align: center;
	display: none;
}
div[id^=sub] {
	display: none;
}
.subtbl {
	width: 50%;
	height: 36px;
	background-color: #ffffdf;
	color: black;
	font-weight: bold;
}
/* Main ref table */
img.webShift {
	padding-left: 19px; }
img.expShift {
	padding-left: 24px; }
table:not(#loginTbl) {
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
	background-color: #ffffdf;
	border-style: groove;
	border-width: 4px;
	border-color: gainsboro; }
th:not(#loginTbl) {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-style: outset;
	border-width: 2px;
	border-color: peru; }
tr:hover {
	background-color: BlanchedAlmond; }
td:not('#loginTbl') {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}
.hdr_row {
	background-color: bisque; }
.hdr_row:hover {
	cursor: pointer;
	background-color: Brown;
	color: White; }
.blue {
	color: darkblue;
}
/* Multimap select modal */
#usermodal {
	display: none;
	position: fixed;
	top: 160px;
	left: 590px;
	width: 380px;
	height: 248px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: ghostwhite;
	border: 3px solid gray;
	z-index: 1000;
}
#modalhdr {
	position: relative;
	top: -3px;
	left: -10px;
	height: 32px;
	width: 396px;
	padding-top: 5px;
	background-color: blanchedalmond;
	border: 2px ridge gray;
}
#hdrleft {
	float: left;
	margin-left: 12px;
	line-height: 1.6em;
}
#hdrright {
	float: right;
	margin-right: 12px;
	background-color: dimgray;
}
#hike2map {
	height: 24px;
	width: 200px;
	font-size: 16px;
	border-radius: 4px;
}
#hlist {
	color: gray;
}
#selections {
	margin-top: 0px;
}
.selectlist {
	font-size: 16px;
	position: relative;
	left: -12px;
}
