/* Styles for the New Mexico Hiking Adventures page */
body {
	margin: 0px;
	font-family: arial, verdana;
	background-color: #dfdfdf;
}
select {
	font-size: 16px;
}
#note {
	color: brown;
}
input[type=checkbox] {
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	transform: scale(1.5);
}
img.webShift {
	padding-left: 19px; }
img.flckrShift {
	padding-left: 15px; }
img.expShift {
	padding-left: 24px; }
table:not(#loginTbl) {
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
	background-color: #ffffdf;
	border-style: groove;
	border-width: 4px;
	border-color: goldenRod; }
th:not(#loginTbl) {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-style: outset;
	border-width: 2px;
	border-color: peru; }
tr:hover {
	background-color: BlanchedAlmond; }
td:not('#loginTbl') {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px; }
tr #resetrow {
	height: 28px;
}
.hdr_row {
	background-color: bisque; }
.hdr_row:hover {
	cursor: pointer;
	background-color: Brown;
	color: White; }
.indxd {
	color: brown; }
#metric {
	text-align: left;
	width: 190px;
	margin-left: 8px;
	margin-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
	color: MidnightBlue;
	border-style: inset;
	border-width: 3px;
	border-color: MidnightBlue;
	cursor: pointer; }
#geoSetting {
	display: none; }
#map {
	position: fixed;
	background-color: #6D3C17;
	color: white;
}
#map:hover {
	background-color: moccasin;
	color: black;
}
#mapnote {
	position: relative;
	margin-top: 8px;
}
