/* Styles for all of the "whole info" web-links (wlnks) */
body {
	min-width: 960px;
	font-family: arial, verdana;
	background-color: #dadada;
	border-style: solid;
	border-width: 4px;
	border-color: DarkBlue; }
	
/* Placing and centering the logo image & associated text */
#logoBlock {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto; }
#page_title {
	position: absolute;
	top: -8px;
	font-size: 28px;
	text-align: center;
	color: DarkBlue;
	// color: #302DD3; }
#pgLogo  {
	height: 70px;
	width: 920px;
	//background-color: #c0beff;
	border-style: inset;
	border-width: 3px;
	border-color: DarkBlue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-image: url("../images/PageTopper.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	opacity: 0.25; }
#logoLeft {
	color: DarkBlue;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 36px; }
#logoRight {
	color: DarkBlue;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 822px; }
#topper {
	margin-top: 8px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 3px;
	border-color: DarkBlue;
	background-color: #C2CDCC; }
table th {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: DarkBlue; }
table td {
	text-align: center;
	padding: 5px; 
	background-color: AntiqueWhite; 
	border-style: solid;
	border-width: 1px;
	border-color: DarkBlue; }
/* image & iframe alignment and pop-up caption styles */
.ImgRow {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px; }
img {
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: DarkBlue; }
iframe {
    margin-bottom: 20px; }
.chart {
	margin-top: 20px; }
.Solo {
	margin-top: 30px; }
.captionList { 
    display: none; }
.lnkList {
	display: none; }
.popupCap {
    margin: 0px;
    display: none;
    position: absolute;
    width: 300px;
    top: 0px;
    left: 0px; }
.capLine {
    margin: 0px;
    font-style: bold;
    background-color: #dadada; }

/* details about the hike */
#hikeInfo {
	margin-left: 10px;
	margin-right: 10px;
	border-style: outset;
	border-width: 2px;
	border-color: #d4e8d4;
	padding: 10px;
	background-color: #c5d5d5; }
	
